@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Copperplate Regular';
    src: url('../assets/fonts/Copperplate-Regular.ttf');
    font-display: swap;
}
.copperplate {
    font-family: 'Copperplate Regular';
    font-style: normal;
  }
  
  .open-sans {
    font-family: "Open Sans", sans-serif;
  }

input::placeholder{
   @apply text-gray-600;
}


/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
} */

input[type='radio'] + label {
  @apply bg-white rounded-lg shadow-lg border border-gray-200 aspect-square text-black flex flex-col items-center justify-center cursor-pointer p-2 font-medium gap-1;
}
input[type='radio'] + label:hover {
  @apply bg-yellow-700 text-white;
}
input[type='radio']:checked + label {
  @apply bg-[#964A26] text-white;
}